/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.center-container {
  max-width: 800px;  
  margin: auto;
  padding: 20px;
  border-radius: 10px;

}

.inCard-container{
  max-width: 500px;  
  border-radius: 10px;
  
}




/* -------------------------- Footer -------------------*/
/* ----------------- Icons -------------- */
.middle {
  text-align: center;
}
.icons {
  text-align: center;
  margin-bottom: 10px;
}

.icons i {
  font-size: 3em;
  margin: 0 10px 10px 10px;
  color: #dfdfdf;
}
.footer-btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #e9e9e9;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: rgb(39, 39, 39);
  overflow: hidden;
  position: relative; 
}

.footer-btn i{
  line-height: 50px;
  font-size: 26px;
  transition: 0.2s linear;
}

.footer-btn:hover i{
  transform: scale(1.3);
  color: #659dbd;
}

.footer-btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #7a7a7a;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;

}

.footer-btn:hover::before{
  animation: aaa 0.7s 1;
  /*
  Here, using top: -10%; caused a problem overlapping the animation.
  */
  top: -10%;
  left: -10%;

}

@keyframes aaa{
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%;
  }
  100%{
    left: -10%;
    top: -10%;
  }
}

footer {
  color: white;
  background-color: #717d80;
}

